<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSAlertDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91820EBA1DFE3E80004366D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91820ECB1DFE3E81004366D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91820ED61DFE3E81004366D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
